.inicio{
    padding: 0;
    width: 100vw;
    display: grid;
    grid-template-areas: 
        "filtros   galeria  galeria  galeria"
        "filtros   galeria  galeria  galeria"
        "filtros   galeria  galeria  galeria"
        "filtros   paginas  paginas  paginas";
}
.inicio__galeria{
    grid-area: galeria;
    width: 75vw;
    padding: 20px 0 0 0;
}
.inicio__asideBar{
    grid-area: filtros;
    width: 25vw;
    height: auto;
    padding: 40px 0 0 15px;;
}
.inicio__descripcion{
    position: fixed;
    background-color: red;
    margin-top: 200px;
}
.inicio__paginacion{
    width: 75vw;
    height: auto;
    grid-area: paginas;
    display: flex;
    justify-content: center;
}




/* Adaptamos a los diferentes tamaños de dispositivos */
@media screen and (max-width: 1000px){
    .inicio{
        grid-template-areas: 
        "filtros   filtros  filtros  filtros"
        "galeria   galeria  galeria  galeria"
        "galeria   galeria  galeria  galeria"
        "paginas   paginas  paginas  paginas";
    }
    .inicio__galeria{
        width: 100vw;
    }
    .inicio__asideBar{
        width: 80vw;
        margin: auto;
    }
    .inicio__paginacion{
        width: 100vw;
        grid-area: paginas;
    }
}