.NavBar__container{
    width:100%;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 2px 4px #F7F7F7;
    margin: 0;
    padding: 0;
}
.NavBar{
    width:100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}
.NavBar__icon{
    height: 34px;
    width: auto;
}
.NavBar__div{
    display: flex;
    align-items: center;
}
.NavBar__div-main{
    justify-content: center;
    width: 400px;

}
.NavBar__ul{
    display: flex;
    width: 230px;
    height: 100%;
    justify-content: space-evenly;
}
.NavBar__li{
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 3.4px solid #fff;
    transition: border-bottom 0.4s;
}
.NavBar__li:hover{
    border-bottom: 3.4px solid #72c8f1;
}
.NavBar__link{
    text-decoration: none;
    color: #232830;
}


/* Hacemos un que en dispositivos moviles se muestre el icono del menu y se escondan los links */
@media screen and (min-width: 600px) {
    .NavBar__div-menu{
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .NavBar__ul{
        display: none;
    }
    .NavBar__div-acount{
        display: none;
    }
}