.paginacion{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 30px 0 50px 0;
}
.paginacion__icon{
    height: 30px;
    width: auto;
}
.paginacion__iconIzquierda{
    transform: rotate(180deg);
}
.paginacion__paginaContainer{
    border: 3px solid #e4f4fd;
    background-color: #e4f4fd;
    border-radius: 50%;
    height: 66px;
    width: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
}
.paginacion__boton{
    border: 3px solid #e4f4fd;
    background-color: #e4f4fd;
    border-radius: 50%;
    height: 66px;
    width: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.5s;
}
.paginacion__boton:hover{
    border: 3px solid #1463c3;
}